@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Inter', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.ant-input, .ant-picker {
  border-radius: 0px;
}

.ant-input-group-wrapper-outlined {
  border-radius: 0px;
}